
<div class="row center">
	<div class="col-33">&nbsp;</div>
	<div class="col-33 fade-bg"><span class="fa fa-pie-chart fa-5x"></span></span></div>
	<div class="col-33">&nbsp;</div>
</div>
<div class="row">
	<!-- Each "cell" has col-[widht in percents] class -->
	<div class="col-10">&nbsp;</div>
	<div class="col-80 mb-grid">		
		<h1>Chart not available with this free version</h1>
		<p> Upgrade to Pro to view chart</p>
	</div>
	<div class="col-10">&nbsp;</div>
</div>
