<div class="list-block">
	<ul>
		<li>
		  <div class="item-content">
		    <div class="item-media"><i class="flaticon-blood8"></i></div>
		    <div class="item-inner"> 
		      <div class="item-title">Peak</div>
		      <div class="item-after">CEO</div>
		    </div>
		  </div>
		</li>
		<li>
		  <div class="item-content">
		    <div class="item-media"><i class="flaticon-file161"></i></div>
		    <div class="item-inner"> 
		      <div class="item-title">Possibly fertile</div>
		      <div class="item-after"> <span class="badge">5</span></div>
		    </div>
		  </div>
		</li>
		<li>
		  <div class="item-content">
		    <div class="item-media"><i class="flaticon-uterus"></i></div>
		    <div class="item-inner"> 
		      <div class="item-title">Appearance</div>
		    </div>
		  </div>
		</li>
	</ul>
<div>