<div class="popup">
	<div class="view view-popup navbar-fixed">
		<div class="navbar theme-deeppurple">
			<div class="navbar-inner color-deeppurple">
				<div class="left"><a href="#" class="link close-popup"><i class="flaticon-clear5"></i></a></div>
				<div class="center sliding">
					{{#if state.isNew}}
						New Observation
					{{/if}}
				</div>
				<div class="right js-billings-save-link"><a href="#" class="link">SAVE <i class="flaticon-save"></i></a></div>
			</div>
		</div>
		<div data-page="day" class="page">
			<div class="page-content billings-edit-form">
				<div class="list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="fa fa-binoculars"></i></div>
								<div class="item-inner">
									<div class="item-title floating-label">Appearance</div>
									<div class="item-input">
										<input id="appearance" type="text" value="{{model.observation.appearance}}">
									</div>
								</div>
							</div>
						</li>							
					</ul>
				</div>
				<div class="list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="flaticon-pencil41"></i></div>
								<div class="item-inner">
									<div class="item-title floating-label">Sensation</div>
									<div class="item-input">
										<input id="dropdown-sensation" type="text" value="{{model.observation.sensation}}">
									</div>
								</div>
							</div>
						</li>						
					</ul>
				</div>
				{{#unless state.isNew}}
					<div class="list-block">
						<ul>
							<li>
								<a href="#" class="item-link list-button billings-delete-button">Delete billings</a>		
							</li>
						</ul>
					</div>
				{{/unless}}
			</div>
		</div>
	</div>
</div>